/*GENERAL*/

body {
	margin: 0; 
	padding: 0;
	font-family: Raleway, sans-serif;
}

.container {
	max-width: 960px;
	margin: 0 auto;
}

h1 {
    font-size: 40px;
    color: #fff;
}

p {
	font-size: 14px;
	line-height: 1.5;
	color: #aaa;
}

.brand {
    font-size: 30px;
}

.menu {
	margin: 0;
	padding: 0;
}

.menu li {
	padding-top: 12px;
	float: left;
	margin-right: 20px;
	list-style-type: none;
}

.menu li a {
	text-decoration: none;
	color: #aaa;
}

/*HEADER*/

header {
	padding-top: 30px;
}

header .brand {
	float: left;
	color: #000;
	margin-bottom: 30px;
}

header ul.menu {
	float: right;
}


/*Jumbotron*/

.jumbotron{
	clear: both;
	background-image: url(img/jumbotron_background.jpg);
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
	padding-top: 80px;
    padding-bottom: 80px;
	min-height: 250px;
	text-align: center;
}

.button {
	text-decoration: none;
	display: inline-block;
	color: #fff;
	padding: 20px;
	margin-top: 40px;
	background: rgba(170, 170, 170, 0.6);
	border-radius: 50px;
	font-weight: bold;
}

.button:hover{
	color: black;
}

/*Services*/

.services {
	padding-top: 70px;
	text-align: center;
}

.service {
	width: 33.3%;
	float: left;
	margin-top: 20px;
	padding-left: 15px;
    padding-right: 15px;
	box-sizing: border-box;
	margin-bottom: 40px;
}

.service i {
	margin-bottom: 10px;
	opacity: .6;
}

/*Blog*/

.blog {
	padding-top: 60px;
	clear: both;
	background-color: #fcfcfc;
	padding-bottom: 60px;
}
.blog h2 {
	text-align: center;
}
.blog .post img {
	float: left;
	margin-right: 30px;
}
.blog .post p {
	color: #aaa;
}
.blog .post {
	padding-top: 30px;
	clear: both;
	display: inline-block;
	padding-left: 20px;
}

/*Footer*/

footer {
	clear: both;
	text-align: center;
	background: #aaa;
	padding-top: 30px;
	padding-bottom: 30px;
}

footer .menu {
	display: inline-block;
}

footer .menu li a{
	color: #000;
	padding-right: 5px;
	padding-left: 5px;
}

footer .menu li {
	margin-top: 30px;
	margin-left: 0px;
	padding: 0px;
}
